html,body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    font-size:62.5%;
}
main{
    margin:0 auto;
    height:90%;
    width:90%;
}
ul{
   margin-top:20px;
   display:block;
   list-style:none;    background-color:yellow;
}
.dice{
    margin:0 auto;
    padding:0;
    border-radius:20px;
    height:10rem;
    width:10rem;
    display:inline-block;
    background-color:blue;
}

#dot_center{
    margin:0;
    display:block;
    height:2rem;
    height:2rem;
    position:relative;
    transform:translateY(40px);
    font-size:2rem;
    text-align:center;
    
  
  }
#dot_tl{
    margin:0;
    padding:10px;
    display:inline;
    float:left;
    position:relative;
    font-size:2rem;
}
#dot_br{
    margin:0;
    padding:10px;
    display:inline;
    float:right;
    position:relative;
    transform:translateY(60px);
    top:2px;
    font-size:2rem;
}

#dot_three_center{
    clear:both;
    font-size:2rem;
    height:2rem
    width:2rem;
    transform:translateX(39px);
}
#dot_three_br{
     margin:0;
    padding:10px;
    display:inline;
    float:right;
    position:relative;
    transform:translateY(-10px);
    top:2px;
    font-size:2rem;
}